body{
    background-color: rgb(145, 244, 203);
}
#reset{
    background-color: red;
}
#przeslij{
    background-color: green;
}
.form{
    width: 280px;
}
.dane{
    width: auto;
float: inline-end;
}
label{
    float: inline-end;
    margin: 0px;
}
#wynik{
    clear: both;
}